@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

body {
  font-family: "poppins", sans-serif;
  background-image: url(/assets/dd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.highlight {
  background-color: yellow;
  color: black;
}

.error {
  background-color: lightcoral;
  border: red;
}
